.banner {
  background-image: url(../images/slider/pic2.png);
  background-size: 100%;
}

.banner-inner {
  padding-top: 180px;
}

.banner-media {
  position: relative;
}

.move {
  position: absolute;
  top: 0;
}

.move img {
  transform: scale(1.4);
}
