footer {
  background-image: url(../images/footer/bg4.png);
  background-size: 100%;
  width: 100%;
  background-color: black;
}

.footer::before {
  background-image: url(../images/footer/pattern2.png);
  background-size: 100%;
}

footer .footer-top {
  padding: 50px 0;
}

footer .footer-title {
  font-size: 24px;
}
