.main-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.header-logo {
  width: 130px;
  height: 130px;
  display: table;
  float: left;
}

.header-logo a {
  display: table-cell;
  vertical-align: middle;
}

.header-nav {
  background: #fff;
}
